{% extends 'base.html' %}

{% block content %}
	<h1 style="font-weight: bold;" class="text-primary">About</h1>
	<hr>
	<br>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nemo. Cum necessitatibus excepturi cumque maiores maxime voluptate earum tempore distinctio corporis totam. Quidem soluta, totam, mollitia, voluptatibus ab hic quo quis iure sed placeat ratione quia facere sunt porro neque magni ipsa. Cupiditate, in perspiciatis! Laudantium quis aperiam recusandae perspiciatis!</p>
{% endblock %}