<nav class="navbar navbar-dark bg-dark">
	<div class="container">
		<a href="/" class="navbar-brand">Pyshop</a>
		<ul class="navbar-nav ml-auto">
			{% if request.user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link text-light" href="/admin/logout">Logout</a>
				</li>
			{% else %}
				<div style="display: flex; justify-content: space-around; width: 200px; text-align: center; align-items: center;">
					<li class="nav-item">
						<a class="nav-link text-light" href="/users/register/">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/users/login/">Login</a>
					</li>
				</div>
			{% endif %}
		</ul>
	</div>
	<div class="container py-2">
		<div class="main-nav text-light">
			<a class="nav-link text-light" href="/">Home</a>|
			<a class="nav-link text-light" href="/product">Products</a>|
			<a class="nav-link text-light" href="/product/create">Publish</a>|
			<a class="nav-link text-light" href="/about">About</a>|
			<a class="nav-link text-light" href="/product/my-product">My Products</a>
		</div>
	</div>
</nav>