<nav class="navbar navbar-dark bg-dark">
	<div class="container">
		<a href="/" class="navbar-brand text-primary">Pyshop</a>
		<ul class="nav navbar-nav ml-auto">
			{% if request.user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link text-primary" href="/admin/logout">Logout</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link text-primary" href="/admin/login">Login</a>
				</li>
			{% endif %}
			
		</ul>
	</div>
	<div class="container py-4">
		<div class="main-nav text-light">
			<a class="nav-link text-light" href="/">Home</a>|
			<a class="nav-link text-light" href="/product">Products</a>|
			<a class="nav-link text-light" href="/product/create">Publish</a>|
			<a class="nav-link text-light" href="/about">About</a>|
			<a class="nav-link text-light" href="/product/my-product">My Products</a>
		</div>
	</div>
</nav>