{% extends 'base.html' %}

{% block content %}
	<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;" class="profile-header">
		<h1 style="font-weight: bold;" class="">Profile</h1>
		{% if profile %}
			<div class="btn-group">
				<a class="btn btn-outline-primary" href="/users/profile/edit">Edit</a>
				<a class="btn btn-outline-danger" href="/users/profile/delete">Delete</a>
			</div>
		{% endif %}
	</div>
	<hr>
	<br>
	{% if profile %}
		<div style="display: grid; grid-template-columns: 2fr 1fr; grid-gap: 1rem; align-items: center;" class="profile p-3">
  		<img style="border-radius: 50%;"  src="{{user.profile.image.url}}" alt="...">
		<div>
			<ul class="list-group">
				<li class="list-group-item">
					<span class="">{{ user }}</span>
				</li>
				<li class="list-group-item">
					<span class="">{{ user.email }}</span>
				</li>
			</ul>
		</div>
	</div>
	{% else %}
		<p class="lead text-muted">It seems you have not created your profile yet, Let's create one..</p>
	{% endif %}
{% endblock %}