{% extends 'base.html' %}

{% block content %}
	<div style="display: flex; flex-direction: row; justify-content: space-between;" class="profile-header">
		<h1>Profile</h1>
		<div class="button-group">
			<a class="btn" href="">Edit</a>
			<a class="btn" href="">Delete</a>
		</div>
	</div>
	<hr>
	<br>
	<div style="display: grid; grid-template-columns: 2fr 1fr; grid-gap: 1rem; align-items: center;" class="profile p-3">
  		<img style="border-radius: 50%;"  src="{{user.profile.image.url}}" alt="...">
		<div>
			<ul class="list-group">
				<li class="list-group-item">
					<span class="">{{ user }}</span>
				</li>
				<li class="list-group-item">
					<span class="">{{ user.email }}</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}